@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./article.css";
@import "./blog.css";
@import "./brand.css";
@import "./cta.css";
@import "./feature.css";
@import "./features.css";
@import "./footer.css";
@import "./header.css";
@import "./navbar.css";
@import "./possibility.css";
@import "./whatGermy.css";
@import "./roadmap.css";
@import "./rangers.css";

:root {
  --font-family: "Inter", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #7928ca 1.84%, #ff0080 82.67%);
  --gradient-bar: linear-gradient(103.22deg, #7928ca -13.86%, #ff0080 99.55%);

  /* --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71; */

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #7c7c7c;
  --color-subtext: #ff8a71;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 15rem;
}

.section__margin {
  margin: 4rem 15rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 1300px) {
  .section__padding {
    padding: 6rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}
