.germ__whatgerm {
  display: flex;
  flex-direction: column;

  padding: 3rem 5rem;
  /* background: var(--color-footer); */

  background: #f1f2f6;
}

.germ__whatgerm-feature {
  display: flex;
}

/* Customizing feature component as per needs */
.germ__whatgerm-feature .germ__features-container__feature {
  margin: 0;
}

/* Customizing feature component as per needs */
.germ__whatgerm-feature .germ__features-container_feature-text {
  max-width: 700px;
}

.germ__whatgerm-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0 2rem;
}

.germ__whatgerm-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

.germ__whatgerm-heading h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text);
  text-align: justify;
}

.germ__whatgerm-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.germ__whatgerm-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 2rem;
}

/* Customizing feature component as per needs */
.germ__whatgerm-container .germ__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.germ__whatgerm-container .germ__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1300px) {
  .germ__whatgerm {
    padding: 2rem 6rem;
  }
}

@media screen and (max-width: 850px) {
  .germ__whatgerm-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .germ__whatgerm-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .germ__whatgerm {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .germ__whatgerm {
    padding: 2rem;
  }

  /* Customizing feature component as per needs */
  .germ__whatgerm-feature .germ__features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .germ__whatgerm-feature .germ__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .germ__whatgerm-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .germ__whatgerm-container .germ__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
